*{
    margin: 0px;
    padding:0 ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #ADB5BD;
}
html::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}
/* navbari */

body{
    width: 100%;
    height: 100vh;
    background-color: #C6D6EE !important;
}
nav{
    width: 100%;
}

.nav-item{
    display: flex;
    flex-direction: row;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}

.pjesa1{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.pjesa2{
    width: 33%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#a1{
    background-color: transparent;
    color: white;
}
.collapse{
    width: 33% !important;
}
.logo{
    width: 8.5rem;
}
#search-form{
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: sticky;
    top: 42px;
}
#search-input{
    padding: 8px 0px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    text-indent: 5px;
    background-color:#087EA2;
    border: none;
    outline: none;
    color: white;
}
#search-input::placeholder{
    color: #fff;
}
#search-input:focus{
    outline: none;
}
.search-submit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    background-color: #087EA2;
    padding: 5.4px 9px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    color: #fff;
}
.rcmn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesa{
    /* background: linear-gradient(90deg, rgb(51, 117, 241) 0%, rgb(45, 177, 166) 100%, rgb(67, 195, 221) 100%);
    background: linear-gradient(90deg, rgb(67, 195, 221) 0%, rgb(51, 117, 241) 100%, rgb(51, 117, 241) 100%); */
    background-color:  #05A7BE;
}


#recommendations{
    position: absolute;
    top: 90px;
    list-style-type: none;
    z-index: 100;
    background-color: white;
    width: 32.3rem;
    /* border-radius: 5px ; */
    box-sizing: content-box;
    box-shadow: 1px 1px 9px 1px gray;
    margin-top: 6px;
}
.rcmn-li{
    width: 100%;
    /* margin: 10px 0; */
    padding: 5px 0;
    cursor: pointer;
    padding: 10px;
}
.rcmn-li:hover{
    background-color: #4AA1AC;
    color: white;
    transition: 0.2s;
    /* border-radius: 5px; */
}
.cart-color{
    color: white;
}
#logout-form{
    border: none;
    outline: none;
}
#logout-form > input{
    border:none;
    outline:none;
}
/* navbari */



.copy{
    text-decoration: none;
    text-transform: none;
}
.p-3{
    display: flex;
    flex-direction: row;
}

/* SLIDERI */
.slideri{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #05A7BE;
}
.carousel{
    background-color: transparent;
}
.img-carousel{
    width: 100% !important;
}
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
    background-color:#087EA2;
}
.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    background-color:#087EA2;
}
#carouselExampleInterval{
    width: 100% !important;
}
.carousel-inner {
    width: 100% !important;
    margin: 0 auto;
}

.carousel-item img {
    display: block;
    margin: 0 auto !important;
    height: 22rem;
}
/* SLIDERI */



#progress {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}
/* Category */
.Categories-main{
    width: 100%;
    height: auto;
    background-color: #05A7BE;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px 0;
    flex-wrap: wrap;
}
.Form_Categories_Button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.Form_Categories_Button > button , #myBtn,.Clear_Filters{
    background-color: transparent;
    border: none;
    margin: 0 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .2s;
    color: black;
    text-decoration: none;
}
.Form_Categories_Button > button:hover{
    background-color:#001a2e18;
}
.Clear_Filters, #myBtn:hover{
    background-color:#001a2e18;
}

/* Modal */
.Price_Modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}



.Price_Modal_Content {
    width: 30rem !important; 
    height: 30rem !important;
    background-color: #05A7BE ;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
}
.CloseBTN{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.CloseBTN > h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
}
.closeButton_Icon {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    font-size: 30px;
    border: none !important;
    outline: none !important;
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-bottom: 3px;
}
.closeButton_Icon:hover,
.closeButton_Icon:focus {
    background-color:#001a2e18;
    cursor: pointer;
}
.rangat{
    width: 100%;
}
.min-max{
    width: 100%;
}
.filteri{
    background-color: #001a2e;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding: 7px 15px;
    color: white;
    font-weight: 500;
}
.filteri:hover{
    background-color: #003b68;
}
/* Modal */







/* Category */


/* PJESA PRODUKTEVE */
.main{
    width: 100%;
    height: auto;
    display: flex;
}
.second-part{
    width: 100%;
    display: flex;
}
.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card1 {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    height: 20rem;
    display: flex;
    border: none;
    }
    .card1:hover .card1__caption {
        top: 50%;
        transform: translateY(-50%);
    }
    .card1:hover .card1__image {
        transform: translateY(-10px);
    }
    .card1:hover .card1__thumb::after {
        top: 0;
    }
    .card1:hover .card1__snippet {
        margin: 20px 0;
    }
    .card1__thumb {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        height: 20rem;
    }
    .learnmore-form{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    /* footer */
    .fund{
        border: none;
        border-radius: 10px;
        background: transparent;
        color: white;
        font-weight: normal;
        padding: 0;
    }
    .fund:hover{
        transition: 0.5s ;
        background-color: transparent;
        transform:scale(110%) ;
    }
    .plast{
        display: flex;
        justify-content: flex-start;
        width: 125%;
    }
    /* footer */




    @media (min-width: 1024px) {
        
        .card1__thumb {
        max-height: 500px;
        }
        #search-input{
            width: 30rem;
        }
    }
    .card1__thumb::after {
        position: absolute;
        top: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
        transition: 0.3s;
    }
    @media (min-width: 1024px) {
        .card1__thumb::after {
        top: calc(100% - 140px);
        }
    }
    .card1__image {
        transition: 0.5s ease-in-out;
        width: 100%;
        height: 110%;
        object-fit: contain;
        object-position: center;
    }
    .card1__caption {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: 0 20px;
        color: white;
        transform: translateY(-50%);
        text-align: center;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    @media (min-width: 1024px) {
        .card1__caption {
        top: calc(100% - 110px);
        transform: unset;
        }
        
    }
    @media only screen and (max-width:1024px){
        #recommendations{
            width: 13.6rem;
        }
    }
    
    .card1__title {
        display: -webkit-box;
        min-height: 50px;
        max-height: 85px;
        overflow: hidden;
        font-family: "Playfair Display", serif;
        font-size: 23px;
        line-height: 28px;
        text-shadow: 0px 1px 5px black;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .card1__snippet {
        display: -webkit-box;
        max-height: 150px;
        margin: 20px 0;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-overflow: ellipsis;
        transition: 0.5s ease-in-out;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    
    @media (min-width: 1024px) {
        .card1__snippet {
        margin: 60px 0;
        }
    }
    .card1__button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        border: 1px solid white;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;
        background-color: #087EA2;
        border: none;
        z-index: 10000;
        user-select: none;
    }
    .add-to-cart{
        display: inline-block;
        padding: 10px 20px;
        color: white;
        border: 1px solid white;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;
        background-color: #087EA2;
        z-index: 10000;
        font-weight: 600;
        border: none;
    }
    .add-to-cart:hover{
        color: black;
        background-color: white;
    }
/* PJESA PRODUKTEVE */


@media screen and (max-width:600px) {
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .card-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pjesa1{
        width: 33%;
    }
    .pjesa2{
        width: 33%;
    }
    #search-input{
        width: 100%;
    }
    #search-form{
        width: 100%;
        padding: 0;
    }
    .logo{
        width: 7rem !important;
    }
    .fund{
        background-color: transparent;
    }
    .plast{
        display: flex;
        justify-content: center;
        width: auto;
    }
    
    .search-submit{
        padding: 5px 8px;
    }
    #recommendations{
        width: 33%;
        padding: 0;
        margin: 0 !important;
        position: absolute;
        top: 80px;
    }

}
@media screen and (max-width:990px) {
    #recommendations{
        margin-top: 7px;
    }

    .carousel-inner {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
    }
    .carousel{
        width: 100% !important;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .first-part{
        width: 100%;
    }
    .categories{
        height: auto;
        /* padding: 20px 0; */
    }
    .second-part{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #search-form{
        display: flex;
        flex-direction: row;
    }
    .image{
        width: 100%;
        height: 300px;
    }
    .button1{
        width: 33%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .pjesa1{
        width: 33%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .pjesa2{
        width: 33%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .fund{
        background-color: transparent;
    }
    .plast{
        display: flex;
        justify-content: center;
        width: auto;
    }
}
